{% extends "layout.html" %}

{% block title %}
    历史记录
{% endblock %}

{% block main %}
    <h2>交易历史</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>股票代码</th>
                <th>数量</th>
                <th>价格</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.transacted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
