{% extends "layout.html" %}

{% block title %}
    更改密码
{% endblock %}

{% block main %}
    <h2>更改密码</h2>
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto"
                   name="current_password" placeholder="当前密码" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto"
                   name="new_password" placeholder="新密码" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto"
                   name="confirmation" placeholder="确认新密码" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">更改密码</button>
    </form>
{% endblock %}
